* {
    margin: 0;
    padding: 0;
}

.body__wrapper {
    width: 100%;
    height: fit-content;
    padding: 1px;
    font-size: 15px;
    font-family: "Verdana";
}

.output-textarea {
    margin: 30px auto;
    width: 600px;
    height: 200px;
    display: block;
    border: 1px solid green;
    color: black;
    font-family: "Verdana";
    font-size: 16px;
}

.keyboard__wrapper {
    margin: 0px auto;
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    width: 690px;
    border: 1px solid green;
    border-radius: 5px;
    justify-content: center;
    flex-grow: 1;
}

.key {
    background-color: greenyellow;
    margin: 2px;
    width: 40px; 
    height: 40px;
    border: none;
    border-radius: 5px;
    color: black;
    font-family: Verdana;
    font-size: 15px;
    transition: border-radius 0.1s, background-color 0.1s;
}

.key_action {
    background-color: cyan;
}

.key_short {
    width: 53px;
}

.key_middle {
    width: 84px;
}
    
.key_long {
    width: 110px;
}

.key_very-long {
    width: 330px;
}

.key_mouseover {
    background-color: brown;
}

.key.key_mousedown {
    border-radius: 25px;
    background-color: red;
}

.body__text {
    display: block;
    margin: 20px auto 10px auto;
    width: fit-content;
}